<section id="sidebar-deadlines" class="well">
  <h3>&nbsp;Project Partners</h3>

  <center>
    <a href="https://www.orange.com/en"><img src="images/partner-logos/logo-orange.png"></a>
    <br/><br/>
    <a href="https://www.inria.fr/en"><img src="images/partner-logos/logo-inria.png"></a>
    <br/><br/>
    <a href="https://www.mi.fu-berlin.de/en/inf/groups/ag-comm/index.html"><img src="images/partner-logos/logo-fub.jpg"></a>
    <br/><br/>
    <a href="https://www.cristal.univ-lille.fr/en"><img src="images/partner-logos/logo-lille.png"></a>
    <br/><br/>
    <a href="https://www.physec.de/en/home_en/"><img src="images/partner-logos/logo-physec.png"></a>
  </center>
</section>
